useDynLib(mco)

## mco.R
export(paretoSet)
S3method(paretoSet, matrix)

export(paretoFront)
S3method(paretoFront, matrix)

export(paretoFilter)
S3method(paretoFilter, matrix)

## nsga2.R:
export(nsga2)

S3method(plot, nsga2)
S3method(plot, nsga2.collection)
S3method(paretoSet, nsga2)
S3method(paretoFront, nsga2)

## qs.R
export(normalizeFront)
export(generationalDistance)
export(generalizedSpread)
export(dominatedHypervolume)
